.footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
}

.linkA {
    color: black;
}

i {
    font-size: 20pt;
}

