.container {
    background-color: #f9fafb;
    width: 370px;
    height: 370px;
    box-shadow: -10px -10px 20px 0 #ffffff, 10px 10px 20px 0 #aeaec01e;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}